statsmodels==0.9.0
pandas==0.23.4
darkskylib==0.3.91
requests==2.21.0
geopy==1.19.0
tensorflow_gpu==2.0.0a0
pymapd==0.7.1
numpy==1.16.3
beautifulsoup4==4.7.1
darksky==0.3
sample==1.0.0
scikit_learn==0.21.1
configparser==3.7.1
pyarrow==0.11
noaa-sdk
